*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.billing-form-page{
	padding: 6rem 0;
	background-color: #fff;
	margin-bottom: 400px;
	z-index: 10;
	position: relative;
}
.billing-form-h1{
	text-align: center;
	margin-bottom: 4rem;
	text-transform: uppercase;
	letter-spacing: .1rem;
}
.order-details-h2{
	font-size: 2rem;
	color: inherit;
	font-weight: 550;
	text-transform: uppercase;
	letter-spacing: 1.2px;
	line-height: 2;
	vertical-align: middle;
	text-align: center;
}
.form-submit{
	padding: 2rem 0;
	display: block;
}
.form-submit-btn{
	outline: none;
	background-color: #333;
	color: #fff;
	padding: 0 15px;
	line-height: 45px;
	height: 45px;
	font-size: 12px;
	letter-spacing: 4.2px;
	text-transform: uppercase;
	font-weight: 600;
	border: none;
}
.form-submit-btn:hover{
	outline: none;
	text-decoration: none;
	border: 1px solid #e1be64;
	background-color: #e1be64;
    color: #fff;
}
.order-table{
	padding: 2rem 0;
	width: 100%;
}
.order-table tr{
	height: 70px;
	border-bottom: 1px solid #e5e5e5;
	font-size: .967rem;
}
.order-table tr th{
	width: 60px;
	vertical-align: middle;
	font-weight: 550;
}
.order-table td{
	padding-right: 10rem;
}
.oder-details-btn{
	display: block;
	padding: 2rem 0;
}
.order-btn{
	text-decoration: none;
	background-color: #333;
	color: #fff;
	padding: 13px 13px;
	line-height: 2.5;
	font-size: 12px;
	letter-spacing: 4.2px;
	text-transform: uppercase;
	font-weight: 600;
}
.order-btn:hover{
	outline: none;
	text-decoration: none;
	border: 1px solid #e1be64;
	background-color: #e1be64;
    color: #fff;
}